<!DOCTYPE html>
<html>
<head>
        <!--specifies title of the page !-->
        <title><b>Spring 2020 Schedule</b></title>
    <head>
    <body>
    <p>Kamryn Voutes!</p>
    <p>1) Intro to Programming</p>
    <p>2) General Chemistry II</p>
    <p>3) The Art of Engineering</p>
    <p>4) Physics II: Introduction to Electricity, Magnetism, & Optics</p>
    <p>5) General Chemistry Lab</p>
    
    <p>My favorite class has been my Chemistry Lab because it is a nice change of pace compared to my large first year engineering lectures.</p>
    </body>


<html>