##########################
# Name: Kamryn Voutes
# UNI: krv2119
# Description: webpage with Spring 2020 class descriptions
##########################
<!DOCTYPE html>
<html>
<head>
<body>
<p><b>Spring 2020 Schedule</b></p>
<p>1) Intro to Programming</p>
<p>2) General Chemistry II</p>
<p>3) The Art of Engineering</p>
<p>4) Physics II: Introduction to Electricity, Magnetism, & Optics</p>
<p>5) General Chemistry Lab</p>
    
<p>My favorite class has been my Chemistry Lab because it is a nice change of pace compared to my large first year engineering lectures. Since I might want to work in research post-grad it has given me exposure to basic lab practices.</p>
</body>


<html>