<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title><b>Home</b></title>
    <head>
    <body>
    <p>Kamryn Voutes!</p>
    <p><img src="/static/IMG_9147.jpeg" alt="Italian Trulli"></p>
    <p>Freshman (Class of 2023)</p>
    <p>Earth and Environmental Engineering</p>
    <p><a href="/classes">Current classes</a></p>
    <p><a href="/other">page 2</a></p>o
    <p><a href="https://www.tiktok.com/en/">Favorite website!</a></p>
    </body>
</html>

