<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Kamryn Voutes</p>
    <p><img src="/static/IMG_9147.jpeg" alt="Profile Pic" style='height 30%; width:30%; object-fit: contain'></p>
    <p>Columbia University Class of 2023)</p>
    <p>Earth and Environmental Engineering</p>
    <p><a href="/classes">Current classes</a></p>
    <p><a href="/Kate">Columbia Alumni</a></p>
    <p><a href="https://www.tiktok.com/en/">Favorite website!</a></p>
    </body>
</html>

