##########################
# Name: Kamryn Voutes
# UNI: krv2119
# Description: webpage with Kate Mckinnon info
##########################
<!DOCTYPE html>
<html>

<head>
        <title>Alumni</title>
    <head>
    <body>
    <p><b>My Favorite Columbia Alumni</b></p>
    <p>1) Kate McKinnon</p>
    <p>2) Kate McKinnon</p>
    <p>3) Kate McKinnon</p>
    <p><a href="https://www.college.columbia.edu/cct_archive/mar_apr07/features2.html">About Kate (CC '06)</a></p>
    <p><b>Some of my favorite Kate SNL skits:</b></p>
    <p><a href="https://www.youtube.com/watch?v=OXvo6ksBHnI">Calvin Klein Justin Bieber Ad</a></p>
    <p><a href="https://www.youtube.com/watch?v=PfPdYYsEfAE">"Another Close Encounter" Skit</a></p>
    <p><a href="https://www.youtube.com/watch?v=K68MO5d5tZw">Kate as Ellen Degeneres</a></p>
    <p><a href="https://www.youtube.com/watch?v=aY8A2cpK6tg">Kate as RBG</a></p>
    <p><a href="https://www.youtube.com/watch?v=H_I5QE2DLvg">Kate as Jeff Sessions</a></p>
    <p><a href="https://www.youtube.com/watch?v=kG7szS15O8Q">Kate as Laura Ingraham - Fox News</a></p>        
    </body>

<html>